.title-heading {
  @apply font-leon text-primary tracking-widest text-4xl mb-3;

  @screen lg {
    @apply text-2.5vw mb-2;
  }
}

.sub-heading {
  @apply font-leon text-primary tracking-widest text-xl mb-3;

  @screen lg {
    @apply text-1.5vw;
  }
}

.rich-text {
  p {
    @apply text-base text-lilac tracking-wider;
  
    @screen lg {
      @apply text-1.25vw;
    }
  
    &:not(:last-of-type) {
      @apply mb-4;
    }
  }
}

.text-underline {
  @apply relative inline-block z-1;

  &:before {
    content: '';
    width: 100%;
    height: 0.2em;
    bottom: 7px;
    opacity: 0.4;
    z-index: -1;
    @apply absolute bg-secondary -z-1;
  }
}
