.hero {
  @apply relative z-1 bg-white flex items-center w-full overflow-hidden;
  min-height: -webkit-fill-available;

  @screen sm {
    @apply min-h-screen;
  }
}

.hero-title {
  @apply inline-block;

  div {
    @apply inline-block opacity-0;

    @for $i from 1 through 13 {
      &:nth-child(#{$i}) {
        transform: translateY(#{$i * 0.8}vh);
      }
    }
  }
}

.hero-tagline {
  @apply text-lilac text-base w-10/12 leading-relaxed opacity-0 transform translate-y-8;
  letter-spacing: 1px;

  @screen lg {
    @apply text-1.5vw;
  }

  .text-underline:before {
    bottom: 6px;

    @screen xl {
      bottom: 0.5vw;
    }
  }
}

.reveal {
  @apply absolute top-0 right-0 left-0 w-0 z-50;
  height: 33.33%;

  &-2 {
    top: 33.33%;
  }

  &-3 {
    @apply top-auto bottom-0;
  }
}

.view-projects-btn {
  @apply absolute right-0 text-primary font-leon tracking-widest pointer-events-none text-2xl;
  bottom: 10vh;
  transform: translateX(-15vw);

  @screen lg {
    @apply text-4vw;
  }

  &:focus {
    outline: none;
  }

  div {
    @apply inline-block opacity-0;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        transform: translateX(#{$i * 2}vw);
      }
    }
  }
}